<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Apa statusmu ? </title>
</head>
<body>
    <div class ="container">
        <h2> Halo,{{user.username}} apakabar?</h2>
        {% if user.is_authenticated %}          
        <a href="/login/logout" id="logout" class="btn btn-primary py-2 px-4">Log out</a>
        {% else %}
        <a href="/login" id="login" class="btn btn-primary py-2 px-4">Log in</a>
        {% endif %}
        <a href="/register" id="signup" class="btn btn-primary py-2 px-4">Sign Up</a>

        <div class = "row">
            <div class = "col-4">
                <form method="POST"  class="mb-4 mt-4">
                        {% csrf_token %}
                        {% for isi in form_now %}
                        {{isi}}
                        {% endfor %}
                        <button type="submit" class="btn btn-success btn-lg mt-4" id='postbutton'>Kirim</button>
                    </form>
            </div>
            <div class= "col-8">
                    {% for i in semua_status %}
                <div class = "row-3">
                    <h4> {{i.status}} </h4>
                    <br>
                    <p> {{i.time}} </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>