{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Farras</title>
</head>
<body>
    <h2> Hello World</h2>
    <form method="post" class="flex-center-col" action=""> 
        {% csrf_token %}
        <label> Username:</label>
        {{form.username}}
        <label> Password:</label>
        {{form.password}}
        <button class="btn btn-primary my-4 py-2 px-5" name="login" id="login">Login</button>
    </form>
</body>
</html>