<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container section-container flex-center-col p-5">
    <h1 class="text-24 bold ">Register</h1>
    <form method="post" class="flex-center-col" >
        {% csrf_token %}
        <div class="form-container mt-2">
            {{form}}
        </div>
        <button class="btn btn-primary my-4 py-2 px-5" >Buat akun</button>
    </form>
    <!-- <div class="flex-center-col ">
        <p class="text-12 m-0">Punya akun?</p>
        <a href="login/" class="text-12">Sign in</a>
    </div> -->
</div>
</body>
</html>
